body {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin: 0;
    padding: 0;
    margin-top: 20vh;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    width: 30vh;
    height: 60vh;
    border: 5px solid;
    background-color: violet;
}

button {
    width: 20vh;
    height: 10vh;
    background-color: white;
    border: 3px solid;
    border-radius: 5px;
    font-size: larger;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

.container {
    width: 60vh;
    height: 60vh;
    border: 5px solid;
    background-color: #ee82ee78;
}